/* merriweather 300 */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/merriweather-v11-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+ */
			url('./assets/fonts/merriweather-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather 300 italic */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	src: url('./assets/fonts/merriweather-v11-latin-300italic.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+ */
			url('./assets/fonts/merriweather-v11-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather regular */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/merriweather-v11-latin-regular.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+ */
			url('./assets/fonts/merriweather-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather italic*/
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	src: url('./assets/fonts/merriweather-v11-latin-italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+ */
			url('./assets/fonts/merriweather-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather 700 */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/merriweather-v11-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+ */
			url('./assets/fonts/merriweather-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather 700 italic */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	src: url('./assets/fonts/merriweather-v11-latin-700italic.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+ */
			url('./assets/fonts/merriweather-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* LoveloBlack */
@font-face {
	font-family: 'LoveloBlack';
	src: url('./assets/fonts/LoveloBlack.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+ */ url('./assets/fonts/LoveloBlack.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-weight: normal;
	font-style: normal;
}
