.navbar {
	padding: 3rem 0;
	margin-bottom: 3rem;

	.logo {
		font-family: 'LoveloBlack', 'Helvetica', sans-serif;
		font-weight: 300;
		text-decoration: none;
		font-size: 2.2rem;
		color: var(--primary);
	}
}
